.footer {
  box-shadow: rgb(0 0 0 / 10%) 0px -1px 2px 0px;
  display: flex;
  background: #FCFCFC;
  flex-direction: column;
  padding: 0 15px 50px;
  color: var(--va-text-lightgray);

  >._wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 44px auto 0;
    max-width: 290px;
  }

  .footer-site-logo {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 44px;
    margin-bottom: 2px;

    ._wrapper {
      display: grid;
      text-decoration: none;
      margin-top: 0;
    }

    .site-logo {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--va-text-lightgray);

      .va-logo {
        fill: var(--va-text-lightgray);
        height: inherit;
      }

      .site-name {
        display: flex;
        flex-direction: column;
        font-weight: bold;
      }
    }
  }

  .footer-openingtimes-container {
    justify-self: center;
    margin-top: 44px;
    font-size: 14px;
    line-height: 2em;
    padding: 0 10px;
    min-width: 200px;

    >.__title {
      font-size: 0.9em;
      font-variation-settings: 'wght' 700;
      text-transform: uppercase;
    }

    .openingtime-day-time {
      display: flex;
      justify-content: space-between;
      gap: 8px;

      >.__day {
        min-width: 85px;
        font-variation-settings: 'wght' 500;
      }

      >.__time {
        text-align: left;
        flex-grow: 1;
      }
    }
  }

  .footer-menu {

    .top-level-menu, .sub-menu {
      list-style: none;

    }

    .top-level-menu {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }

    .menu-item {
      width: 135px;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-top: 44px;
      font-size: 13px;
      font-variation-settings: 'wght' 700;
      line-height: 2em;
      text-transform: uppercase;
    }

    .menu-item-link {
      color: var(--va-text-lightgray);
      text-decoration: none;
    }

    .sub-menu {
      .menu-item {
        margin-top: unset;
        font-variation-settings: 'wght' 500;
        text-transform: initial;
      }
    }
  }

  .footer-copyright-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 90px auto 0;
    max-width: 290px;
    width: 100%;

    .copyright {
      font-size: 13px;
      font-variation-settings: 'wght' 500;
      width: 50%;

      ._wrapper {
        padding: 9px 0;
      }

      .webdev {
        font-size: 0.8em;
      }
    }

    .socials {
      display: flex;
      align-items: center;
      margin: 0 0 auto auto;
      gap: 8px;

      .-icon {
        display: inline-block;
        font-size: 22px;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint_md) {
  .footer {
    >._wrapper {
      max-width: 100%;
    }

    .footer-site-logo {
      margin-bottom: 0;
      width: 135px;
    }

    .footer-openingtimes-container {
      font-size: 0.9em;
    }

    .footer-menu {
      margin-left: 20px;
      flex-basis: 100%;
      max-width: 720px;
    }

    .footer-copyright-container {
      justify-content: start;
      max-width: 540px;
    }
  }
}

@media only screen and (min-width: $breakpoint_lg) {
  .footer {
    >._wrapper {
      max-width: 720px;
    }

    .footer-menu {
      margin-left: 0;
      .menu-item {
        width: 165px;
        margin-right: 20px;
      }
    }

    .footer-copyright-container {
      margin-top: 83px;
      max-width: 720px;
    }
  }
}

@media only screen and (min-width: $breakpoint_xl) {
  .footer {
    >._wrapper {
      margin-top: 35px;
      max-width: 1170px;
    }

    .footer-site-logo {
      margin: 0 0 0;
      justify-content: center;

      .site-logo-link {
        width: 160px;
      }
    }

    .footer-menu {
      margin-left: 0;
      width: 960px;
      max-width: unset;
      .menu-item {
        width: 165px;
        margin: 53px 0 0;
      }
    }

    .footer-copyright-container {
      margin-top: 83px;
      width: 750px;
      max-width: 1170px;
    }
  }
}