.header {
  background-color: var(--va-primary-base);
  height: 60px;
  box-shadow: rgb(0 0 0 / 10%) 0 1px 2px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  ._wrapper {
    display: grid;
    text-decoration: none;
  }
  .site-logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--va-text-secondary);

    .va-logo {
      fill: var(--va-text-secondary);
      height: inherit;
    }

    .site-name {
      display: flex;
      flex-direction: column;
      font-weight: bold;
    }
  }
}