.nav-main {
  position: fixed;
  right: 0;
  background: var(--va-text-secondary);
  height: 100vh;
  width: 300px;
  align-self: start;
  z-index: 2;
  padding: 20px;
  display: none;
  overflow: scroll;

  .top-level-menu, .sub-menu {
    list-style: none;
  }

  .top-level-menu {
    display: flex;
    position: relative;
    flex-direction: column;

    .menu-item {
      color: var(--va-primary-base);
      position: relative;
    }
  }

  .sub-menu {
    display: block;
    padding-left: 10px;

    .menu-item {
      color: var(--va-text-primary);
    }
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-variation-settings: 'wght' 600;
    white-space: nowrap;

    .menu-item-link {
      text-decoration: none;
      color: inherit;
      transition: opacity 0.2s ease-in-out 0s;
      padding: 12px;
      cursor: pointer;
    }

    &:hover {
      > .menu-item-link {
        opacity: 0.5;
      }
    }
  }

  .menu-close {
    position: absolute;
    top: 10px;
    right: 18px;
    z-index: 3;
  }
}

.toggle-nav {
  font-size: 2em;
  color: var(--va-text-primary);
  text-decoration: none;
}

.menu-burger {
  .toggle-nav {
    color: var(--va-text-secondary);
  }
}

@media only screen and (min-width: $breakpoint_lg) {
  .menu-burger {
    display: none;
  }
  .menu-close {
    display: none;
  }

  .nav-main {
    position: relative;
    height: initial;
    align-self: initial;
    background: none;
    width: unset;
    display: initial;
    overflow: initial;
    padding: 0;

    .top-level-menu {
      flex-direction: row;

      .menu-item {
        color: var(--va-text-secondary);

        &:hover {
          .sub-menu {
            display: block;
            opacity: 1;
          }
        }
      }
    }

    .sub-menu {
      position: absolute;
      top: 40px;
      left: initial;
      z-index: 2;
      background-color: var(--va-text-secondary);
      padding: 8px;
      min-width: 100%;
      display: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      .menu-item {
        color: var(--va-primary-base);
      }
    }

    .menu-item {
      height: 40px;
    }
  }
}