:root {
  --va-primary-base: #{$primary};
  --va-text-primary: #222222;
  --va-text-secondary: #ffffff;
  --va-text-lightgray: #666666;
  --va-link-primary: #008888;
}

::selection {
  color: white;
  background-color: darken($primary, 20%)
}

p:not(:last-of-type) {
  margin-bottom: 8px;
}

.wp-block-columns {
  margin-bottom: 8px !important;

  .wp-block-column:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

a {
  color: var(--va-link-primary);

  &:visited {
    //color: var(--va-primary-base);
  }
}