<header class="header">
    {% include "partial/site-logo.twig" %}

    <div class="menu-burger">
        <a href="#" class="toggle-nav">&#9776;</a>
    </div>
    <nav id="nav-main" class="nav-main" role="navigation">
        <div class="menu-close">
            <a href="#" class="toggle-nav">&#x2715;</a>
        </div>
        {% include "menu.twig" with {'items': menu.get_items} %}
    </nav><!-- #nav -->
</header>