<div class="site-logo-link">
    <a href="/" class="_wrapper">
        <div class="site-logo">
            <svg class="va-logo" version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"

                 viewBox="0 0 137.6 190.5" style="enable-background:new 0 0 137.6 190.5;" xml:space="preserve">
<g>
    <path d="M46.5,27.6c5.2-0.3,10.3,1.1,14.5,5c6.2,5.7,5.7,13,4.5,20.2c-1.3,7.6-5.7,13.6-10.6,19.2c-3.9,4.3-5.9,9.5-7,15
		c-1.6,8.1,1.7,14.6,7,20.2c4.9,5.3,10.2,10.3,15.3,15.4c3,3,5.1,6.5,6.2,10.5c2.4,8.9-3,16.7-12.1,16.7c-11.6,0-21.3-4.3-28.9-13.4
		c-6.6-7.8-12.7-16-17.9-24.8c-9-15.4-11.3-31.9-7.2-49.1c3-12.4,8.9-23.4,20.3-30.4C36,28.8,39.9,27.6,46.5,27.6z"/>
    <path d="M129,123.5c-0.4,18.9-7,35.7-16.8,51.4c-3.8,6.1-9.8,10.2-16.1,13.5c-4.6,2.4-9.6,2.5-14.5,1.5c-5.2-1-8.8-7.8-7.7-13.8
		c0.7-4.3,2.5-8.2,4.8-11.8c3.4-5.3,6.9-10.5,9.9-16c7.2-13,4.3-25.9-7.5-35.1c-4.7-3.6-9.4-7.2-12.8-12.3
		c-2.4-3.5-3.8-7.4-4.5-11.4c-1.9-11.4,4.2-19.3,16.7-21.2c16.2-2.5,28,5.6,37.1,18C125.6,97.2,129.2,109.8,129,123.5z"/>
    <path d="M93.9,49.4c0,1.5,0,2,0,2.4c-0.5,6.1-5.1,11-10.1,10.8c-5.1-0.2-9.3-5.3-9.3-11.4c0-1.8,0.4-3.6,0.8-5.3
		c1.3-5.2,4.1-7.6,8.8-7.7c4.6-0.1,7.6,2.3,9.1,7.4C93.6,47.1,93.8,48.8,93.9,49.4z"/>
    <path d="M63.3,11.1c0,5.6-1.7,9.7-6.3,12c-3.1,1.6-6.2,1-8.7-1.2c-3.9-3.4-5.3-7.8-4.1-12.9c0.2-1,0.6-1.9,1-2.8
		c1.8-4,5.6-6.6,9.2-6.3c3.7,0.2,7.3,3.5,8.4,7.9C63.1,9.2,63.2,10.5,63.3,11.1z"/>
    <path d="M40.6,15.6c0,4.3-2,7.2-5.3,7.8c-3.4,0.6-6.3-1.3-7.8-5.3C26.2,14.6,26,11,28.9,8c1.7-1.8,3.8-2.5,6.3-1.5
		C38.4,7.8,40.6,11.4,40.6,15.6z"/>
    <path d="M109.9,57.1c0,5.5-3.2,9.8-7.5,9.8c-3.7,0-6.2-2.9-6.3-7.3c-0.1-5.5,3.5-10.2,7.9-10.1C107.6,49.6,109.9,52.6,109.9,57.1z"
    />
    <path d="M20.1,17.4c3.7,0.1,6.7,3.9,6.6,8.3c-0.1,3.8-2.6,6.6-5.8,6.6c-3.8,0-6.9-3.6-6.8-8C14.1,20.1,16.6,17.3,20.1,17.4z"/>
    <path d="M123.8,67c0.1,4.3-3.1,8.1-6.8,8.1c-3.2,0.1-5.8-2.8-6-6.5c-0.2-4.2,3-8.2,6.6-8.4C121.1,60.1,123.7,62.9,123.8,67z"/>
    <path d="M120.8,81.5c0-3.8,3.5-7.7,6.9-7.6c3.1,0,5.3,2.5,5.2,5.9c-0.1,4-3.4,7.8-6.9,7.7C123.2,87.4,120.8,84.7,120.8,81.5z"/>
    <path d="M16.9,37.1c0.1,3.4-2,6-5,6.1c-3.5,0.2-6.9-3.4-7-7.4c-0.1-3.6,2.2-6.2,5.5-6.2C13.7,29.8,16.8,33.2,16.9,37.1z"/>
    <path d="M9.9,50.1c0.1,3.2-1.7,5.3-4.6,5.2c-3-0.1-5.3-2.8-5.4-6.5c-0.1-3.6,1.7-5.9,4.5-5.8C7.5,43,9.8,46,9.9,50.1z"/>
    <path d="M137.6,93c0,3.5-2.5,6.4-5.5,6.3c-3-0.1-4.3-2-4.4-4.9c-0.1-3.6,2.8-6.8,5.8-6.5C136.6,88.2,137.7,90.1,137.6,93z"/>
</g>
</svg>
            <div class="site-name">
                <span class="_top">Voetzorg</span>
                <span class="_bottom">Antoinette</span>
            </div>
        </div>
    </a>
</div>