.btn {
  background-color: var(--va-text-secondary);
  border: 0;
  border-radius: 18px;
  box-sizing: border-box;
  color: var(--va-primary-base);
  font-size: 14px;
  font-variation-settings: 'wght' 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: rgb(0 0 0 / 5%) 0 2px 4px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
  position: relative;
  padding: 0 18px;

  &:hover {
    box-shadow: rgb(0 0 0 / 25%) 0 2px 4px;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: none;
  }
}