.tooltip {
  position: relative;
  color: var(--va-text-secondary);
  padding: 10px 32px;
  font-size: 14px;
  max-width: 300px;
  word-wrap: break-word;
  font-variation-settings: 'wght' 700;
  line-height: 16px;
  border-radius: 18px;
  box-shadow: rgb(0 0 0 / 5%) 0 2px 4px;
  background: rgba(0, 0, 0, 0.16);
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 133ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform-origin: center bottom;
  transform: none;

  &::before {
    content: "";
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;

    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;

    border-width: 10px 10px 0;
    z-index: 1;
    border-color: rgba(0, 0, 0, 0.16) transparent transparent;
  }

  &.animated {
    animation: 1.2s ease-in-out 0s infinite normal none running bouncing;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: bouncing;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 133ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}