.google-maps {
  margin: 40px 0 0;

  .gmap_canvas_iframe {
    width: 100%;
    height: 400px;
    @media only screen and (min-width: $breakpoint_md) {
      max-width: 720px;
    }
    @media only screen and (min-width: $breakpoint_xl) {
      max-width: 960px;
      height: 600px;
    }
  }
}

