.page-content {
  padding: 20px;
  color: var(--va-text-primary);

  .article-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 720px;
    margin: 0 auto;
  }

  .article-image {
    width: 100%;
    max-height: 300px;
    background-color: #e9e9e9;

    .__img {
      width: inherit;
      height: auto;
      max-height: inherit;
      object-fit: contain;
    }
  }

  .article-title {
    font-variation-settings: 'wght' 700;
    line-height: 2em;
    text-align: center;
  }

  @media only screen and (min-width: $breakpoint_md) {
    padding: 35px;
  }

  @media only screen and (min-width: $breakpoint_lg) {
    .article-content {
      margin-top: 40px;
    }
  }

  @media only screen and (min-width: $breakpoint_xl) {
    .article-content {
      max-width: 960px;
    }
  }
}