.home {
  .hero {
    background-color: var(--va-primary-base);
    padding: 18px;
    min-height: 100vh;

    > ._wrapper {
      max-width: 960px;
      width: 100%;
      margin: 60px auto 0;
    }

    .welcome {
      margin-bottom: 60px;
      text-align: center;
      color: var(--va-text-secondary);
      display: flex;
      justify-content: space-around;
      gap: 180px;

      ._title {
        line-height: 48px;
        padding-bottom: 22px;
      }

      ._subtitle {
        line-height: 30px;
        font-size: 18px;
        font-variation-settings: 'wght' 600;
        font-weight: normal;
      }

      .logo-wrapper {
        display: none;
        transition: all 1s ease-in;
      }
    }

    .maak-afspraak {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .specialiteiten {
      margin: 100px auto;
      align-items: center;

      .items {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        ._beschrijving {
          padding: 10px;
          text-align: center;
        }
      }
    }
  }

  .intro {
    max-width: 960px;
    margin: 0 auto;
    color: var(--va-text-primary);

    > .wrapper {
      padding: 20px;
      margin-top: 40px;
    }
  }
}

@media only screen and (min-width: $breakpoint_lg) {
  .home {
    .hero {
      min-height: 80vh;

      > ._wrapper {
        margin: 132px auto 0;
        width: 720px;
      }

      .welcome {
        text-align: initial;
        justify-content: flex-start;
      }

      .maak-afspraak {
        flex-direction: row;
      }
    }

    .intro {
      .wrapper {
        padding: 8px;
        margin-top: 80px;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint_xl) {
  .home {
    .hero {
      > ._wrapper {
        width: 100%;
      }

      .welcome {
        .logo-wrapper {
          text-decoration: none;
          align-self: center;
          display: flex;
          align-items: center;

          .site-logo {
            height: 140px;
            color: var(--va-primary-base);

            .va-logo {
              fill: darken($primary, 10%);
              height: inherit;
              transition: all 1s ease-in;

              &:hover {
                fill: lighten($primary, 10%);
              }
            }

            .site-name {
              display: none;
            }
          }
        }
      }

    }
  }
}