.products-page {

  @media only screen and (min-width: $breakpoint_xl) {
    .article-content {
      max-width: 1280px;
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;

    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      flex-grow: 1;
      margin-bottom: 88px;

      @media only screen and (min-width: $breakpoint_md) {
        flex-basis: 45%;
        min-width: 300px;
      }
      @media only screen and (min-width: $breakpoint_lg) {
        border: 1px solid lightgray;
      }
      @media only screen and (min-width: $breakpoint_xl) {
        flex-basis: 30%;
        max-width: 500px;
      }

      .image-wrapper {
        background-color: #eeeeee;
        height: 300px;
        width: 100%;

        .__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      >.wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
      }

      .product-name {
        font-variation-settings: 'wght' 600;
        line-height: 2em;
        text-align: center;
      }

      .product-price {
        text-align: center;
        font-size: 1.2em;
        font-variation-settings: 'wght' 500;
      }

      .product-description {
        margin-top: 20px;
      }
    }
  }
}