.d-block {
  display: block;
}

.container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.specialiteit-item {
  width: 170px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 22px;
  color: var(--va-text-secondary);
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
  box-shadow: rgb(0 0 0 / 5%) 0 2px 10px 0;
  font-variation-settings: 'wght' 600;
  text-decoration: none;

  &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.content-wrapper {
  margin-bottom: 200px;
}