@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

html {
  font-family: Raleway, sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2em;
  font-stretch: 100%;
  font-variation-settings: 'wght' 600;
  font-style: normal;
}

p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  letter-spacing: .03em;
  line-height: calc(1ex / 0.32);
}