{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper products-page">
        <article class="post-type-{{post.post_type}} page-content" id="post-{{post.ID}}">
            <section class="article-content">
                <h1 class="article-title">{{post.title}}</h1>
                <div class="article-body">
                    {{ post.content }}
                </div>

                <div class="products">
                    {% for product in products %}
                        <div class="product">
                            <div class="image-wrapper">
                                <img src="{{ Image(product.img).src }}" alt="{{ product.img.alt }}" class="__img">
                            </div>
                            <div class="wrapper">
                                <h2 class="product-name">{{ product.name }}</h2>
                                <div class="product-price">&euro; {{ product.price|number_format(2, ',', '.') }}</div>
                                <div class="product-description">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}