{% extends "base.twig" %}

{% block content %}
    <div class="home">
        <section class="hero">
            <div class="container flex-column _wrapper">
                <div class="welcome">
                    <div class="title-wrapper">
                        <h1 class="_title">
                            {{ homepage.intro_title }}
                        </h1>
                        <h2 class="_subtitle">
                            {{ homepage.intro_subtitle }}
                        </h2>
                    </div>
                    <div class="logo-wrapper">
                        {% include "partial/site-logo.twig" %}
                    </div>
                </div>
                <div class="maak-afspraak">
                    <a href="/contact" class="btn afspraak-btn">
                        {{ homepage.intro_appointment_btn_label }}
                    </a>
                </div>
                <div class="specialiteiten container flex-column">
                    <div class="tooltip animated">
                        Mijn specialiteiten
                    </div>

                    <div class="items">
                        {% for specialty in specialties %}
                        <a href="{{specialty.url}}" class="specialiteit-item">
                            <span class="_beschrijving">{{ specialty.title }}</span>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="intro">
            <div class="wrapper">
                {{ post.content }}
            </div>
        </section>
    </div>
{% endblock %}