{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper contact-page">
        <article class="post-type-{{ post.post_type }} page-content" id="post-{{ post.ID }}">
            <section class="article-content">
                <h1 class="article-title">{{ post.title }}</h1>

                <div class="article-body">
                    {{ post.content }}
                </div>

                <div class="google-maps">
                    <div class="gmap_canvas">
                        <iframe id="gmap_canvas" class="gmap_canvas_iframe"
                                src="https://maps.google.com/maps?q=Meeuwenwetering%2056%20%203193%20LM%20HOOGVLIET%20ROTTERDAM&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}