@charset "UTF-8";
/*
 * Theme Name: Voetzorg Antoinette Thema
 * Description:
 * Author: Jordi Holleman
*/
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
html {
  font-family: Raleway, sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2em;
  font-stretch: 100%;
  font-variation-settings: "wght" 600;
  font-style: normal;
}

p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  letter-spacing: 0.03em;
  line-height: 3.125ex;
}

.d-block {
  display: block;
}

.container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.specialiteit-item {
  width: 170px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 22px;
  color: var(--va-text-secondary);
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 10px 0;
  font-variation-settings: "wght" 600;
  text-decoration: none;
}
.specialiteit-item:hover, .specialiteit-item:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.content-wrapper {
  margin-bottom: 200px;
}

@-webkit-keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 2px 0px;
  display: flex;
  background: #FCFCFC;
  flex-direction: column;
  padding: 0 15px 50px;
  color: var(--va-text-lightgray);
}
.footer > ._wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 44px auto 0;
  max-width: 290px;
}
.footer .footer-site-logo {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 44px;
  margin-bottom: 2px;
}
.footer .footer-site-logo ._wrapper {
  display: grid;
  text-decoration: none;
  margin-top: 0;
}
.footer .footer-site-logo .site-logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--va-text-lightgray);
}
.footer .footer-site-logo .site-logo .va-logo {
  fill: var(--va-text-lightgray);
  height: inherit;
}
.footer .footer-site-logo .site-logo .site-name {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.footer .footer-openingtimes-container {
  justify-self: center;
  margin-top: 44px;
  font-size: 14px;
  line-height: 2em;
  padding: 0 10px;
  min-width: 200px;
}
.footer .footer-openingtimes-container > .__title {
  font-size: 0.9em;
  font-variation-settings: "wght" 700;
  text-transform: uppercase;
}
.footer .footer-openingtimes-container .openingtime-day-time {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.footer .footer-openingtimes-container .openingtime-day-time > .__day {
  min-width: 85px;
  font-variation-settings: "wght" 500;
}
.footer .footer-openingtimes-container .openingtime-day-time > .__time {
  text-align: left;
  flex-grow: 1;
}
.footer .footer-menu .top-level-menu, .footer .footer-menu .sub-menu {
  list-style: none;
}
.footer .footer-menu .top-level-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.footer .footer-menu .menu-item {
  width: 135px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 44px;
  font-size: 13px;
  font-variation-settings: "wght" 700;
  line-height: 2em;
  text-transform: uppercase;
}
.footer .footer-menu .menu-item-link {
  color: var(--va-text-lightgray);
  text-decoration: none;
}
.footer .footer-menu .sub-menu .menu-item {
  margin-top: unset;
  font-variation-settings: "wght" 500;
  text-transform: initial;
}
.footer .footer-copyright-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 90px auto 0;
  max-width: 290px;
  width: 100%;
}
.footer .footer-copyright-container .copyright {
  font-size: 13px;
  font-variation-settings: "wght" 500;
  width: 50%;
}
.footer .footer-copyright-container .copyright ._wrapper {
  padding: 9px 0;
}
.footer .footer-copyright-container .copyright .webdev {
  font-size: 0.8em;
}
.footer .footer-copyright-container .socials {
  display: flex;
  align-items: center;
  margin: 0 0 auto auto;
  gap: 8px;
}
.footer .footer-copyright-container .socials .-icon {
  display: inline-block;
  font-size: 22px;
}

@media only screen and (min-width: 592px) {
  .footer > ._wrapper {
    max-width: 100%;
  }
  .footer .footer-site-logo {
    margin-bottom: 0;
    width: 135px;
  }
  .footer .footer-openingtimes-container {
    font-size: 0.9em;
  }
  .footer .footer-menu {
    margin-left: 20px;
    flex-basis: 100%;
    max-width: 720px;
  }
  .footer .footer-copyright-container {
    justify-content: start;
    max-width: 540px;
  }
}
@media only screen and (min-width: 960px) {
  .footer > ._wrapper {
    max-width: 720px;
  }
  .footer .footer-menu {
    margin-left: 0;
  }
  .footer .footer-menu .menu-item {
    width: 165px;
    margin-right: 20px;
  }
  .footer .footer-copyright-container {
    margin-top: 83px;
    max-width: 720px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer > ._wrapper {
    margin-top: 35px;
    max-width: 1170px;
  }
  .footer .footer-site-logo {
    margin: 0 0 0;
    justify-content: center;
  }
  .footer .footer-site-logo .site-logo-link {
    width: 160px;
  }
  .footer .footer-menu {
    margin-left: 0;
    width: 960px;
    max-width: unset;
  }
  .footer .footer-menu .menu-item {
    width: 165px;
    margin: 53px 0 0;
  }
  .footer .footer-copyright-container {
    margin-top: 83px;
    width: 750px;
    max-width: 1170px;
  }
}
.header {
  background-color: var(--va-primary-base);
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.header ._wrapper {
  display: grid;
  text-decoration: none;
}
.header .site-logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--va-text-secondary);
}
.header .site-logo .va-logo {
  fill: var(--va-text-secondary);
  height: inherit;
}
.header .site-logo .site-name {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.nav-main {
  position: fixed;
  right: 0;
  background: var(--va-text-secondary);
  height: 100vh;
  width: 300px;
  align-self: start;
  z-index: 2;
  padding: 20px;
  display: none;
  overflow: scroll;
}
.nav-main .top-level-menu, .nav-main .sub-menu {
  list-style: none;
}
.nav-main .top-level-menu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.nav-main .top-level-menu .menu-item {
  color: var(--va-primary-base);
  position: relative;
}
.nav-main .sub-menu {
  display: block;
  padding-left: 10px;
}
.nav-main .sub-menu .menu-item {
  color: var(--va-text-primary);
}
.nav-main .menu-item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-variation-settings: "wght" 600;
  white-space: nowrap;
}
.nav-main .menu-item .menu-item-link {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease-in-out 0s;
  padding: 12px;
  cursor: pointer;
}
.nav-main .menu-item:hover > .menu-item-link {
  opacity: 0.5;
}
.nav-main .menu-close {
  position: absolute;
  top: 10px;
  right: 18px;
  z-index: 3;
}

.toggle-nav {
  font-size: 2em;
  color: var(--va-text-primary);
  text-decoration: none;
}

.menu-burger .toggle-nav {
  color: var(--va-text-secondary);
}

@media only screen and (min-width: 960px) {
  .menu-burger {
    display: none;
  }

  .menu-close {
    display: none;
  }

  .nav-main {
    position: relative;
    height: initial;
    align-self: initial;
    background: none;
    width: unset;
    display: initial;
    overflow: initial;
    padding: 0;
  }
  .nav-main .top-level-menu {
    flex-direction: row;
  }
  .nav-main .top-level-menu .menu-item {
    color: var(--va-text-secondary);
  }
  .nav-main .top-level-menu .menu-item:hover .sub-menu {
    display: block;
    opacity: 1;
  }
  .nav-main .sub-menu {
    position: absolute;
    top: 40px;
    left: initial;
    z-index: 2;
    background-color: var(--va-text-secondary);
    padding: 8px;
    min-width: 100%;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .nav-main .sub-menu .menu-item {
    color: var(--va-primary-base);
  }
  .nav-main .menu-item {
    height: 40px;
  }
}
.btn {
  background-color: var(--va-text-secondary);
  border: 0;
  border-radius: 18px;
  box-sizing: border-box;
  color: var(--va-primary-base);
  font-size: 14px;
  font-variation-settings: "wght" 700;
  line-height: 36px;
  text-align: center;
  -webkit-text-decoration: none #D1D5DB solid;
          text-decoration: none #D1D5DB solid;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 4px;
  cursor: pointer;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
  position: relative;
  padding: 0 18px;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
}
.btn:focus {
  outline: none;
}
.btn:focus-visible {
  box-shadow: none;
}

.tooltip {
  position: relative;
  color: var(--va-text-secondary);
  padding: 10px 32px;
  font-size: 14px;
  max-width: 300px;
  word-wrap: break-word;
  font-variation-settings: "wght" 700;
  line-height: 16px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 4px;
  background: rgba(0, 0, 0, 0.16);
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 133ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform-origin: center bottom;
  transform: none;
}
.tooltip::before {
  content: "";
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  border-width: 10px 10px 0;
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.16) transparent transparent;
}
.tooltip.animated {
  -webkit-animation: 1.2s ease-in-out 0s infinite normal none running bouncing;
          animation: 1.2s ease-in-out 0s infinite normal none running bouncing;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-name: bouncing;
          animation-name: bouncing;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 133ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.page-content {
  padding: 20px;
  color: var(--va-text-primary);
}
.page-content .article-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 720px;
  margin: 0 auto;
}
.page-content .article-image {
  width: 100%;
  max-height: 300px;
  background-color: #e9e9e9;
}
.page-content .article-image .__img {
  width: inherit;
  height: auto;
  max-height: inherit;
  -o-object-fit: contain;
     object-fit: contain;
}
.page-content .article-title {
  font-variation-settings: "wght" 700;
  line-height: 2em;
  text-align: center;
}
@media only screen and (min-width: 592px) {
  .page-content {
    padding: 35px;
  }
}
@media only screen and (min-width: 960px) {
  .page-content .article-content {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .page-content .article-content {
    max-width: 960px;
  }
}

.home .hero {
  background-color: var(--va-primary-base);
  padding: 18px;
  min-height: 100vh;
}
.home .hero > ._wrapper {
  max-width: 960px;
  width: 100%;
  margin: 60px auto 0;
}
.home .hero .welcome {
  margin-bottom: 60px;
  text-align: center;
  color: var(--va-text-secondary);
  display: flex;
  justify-content: space-around;
  gap: 180px;
}
.home .hero .welcome ._title {
  line-height: 48px;
  padding-bottom: 22px;
}
.home .hero .welcome ._subtitle {
  line-height: 30px;
  font-size: 18px;
  font-variation-settings: "wght" 600;
  font-weight: normal;
}
.home .hero .welcome .logo-wrapper {
  display: none;
  transition: all 1s ease-in;
}
.home .hero .maak-afspraak {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home .hero .specialiteiten {
  margin: 100px auto;
  align-items: center;
}
.home .hero .specialiteiten .items {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.home .hero .specialiteiten .items ._beschrijving {
  padding: 10px;
  text-align: center;
}
.home .intro {
  max-width: 960px;
  margin: 0 auto;
  color: var(--va-text-primary);
}
.home .intro > .wrapper {
  padding: 20px;
  margin-top: 40px;
}

@media only screen and (min-width: 960px) {
  .home .hero {
    min-height: 80vh;
  }
  .home .hero > ._wrapper {
    margin: 132px auto 0;
    width: 720px;
  }
  .home .hero .welcome {
    text-align: initial;
    justify-content: flex-start;
  }
  .home .hero .maak-afspraak {
    flex-direction: row;
  }
  .home .intro .wrapper {
    padding: 8px;
    margin-top: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .home .hero > ._wrapper {
    width: 100%;
  }
  .home .hero .welcome .logo-wrapper {
    text-decoration: none;
    align-self: center;
    display: flex;
    align-items: center;
  }
  .home .hero .welcome .logo-wrapper .site-logo {
    height: 140px;
    color: var(--va-primary-base);
  }
  .home .hero .welcome .logo-wrapper .site-logo .va-logo {
    fill: #05a49f;
    height: inherit;
    transition: all 1s ease-in;
  }
  .home .hero .welcome .logo-wrapper .site-logo .va-logo:hover {
    fill: #17f8f1;
  }
  .home .hero .welcome .logo-wrapper .site-logo .site-name {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .products-page .article-content {
    max-width: 1280px;
  }
}
.products-page .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.products-page .products .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  margin-bottom: 88px;
}
@media only screen and (min-width: 592px) {
  .products-page .products .product {
    flex-basis: 45%;
    min-width: 300px;
  }
}
@media only screen and (min-width: 960px) {
  .products-page .products .product {
    border: 1px solid lightgray;
  }
}
@media only screen and (min-width: 1200px) {
  .products-page .products .product {
    flex-basis: 30%;
    max-width: 500px;
  }
}
.products-page .products .product .image-wrapper {
  background-color: #eeeeee;
  height: 300px;
  width: 100%;
}
.products-page .products .product .image-wrapper .__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-page .products .product > .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.products-page .products .product .product-name {
  font-variation-settings: "wght" 600;
  line-height: 2em;
  text-align: center;
}
.products-page .products .product .product-price {
  text-align: center;
  font-size: 1.2em;
  font-variation-settings: "wght" 500;
}
.products-page .products .product .product-description {
  margin-top: 20px;
}

.google-maps {
  margin: 40px 0 0;
}
.google-maps .gmap_canvas_iframe {
  width: 100%;
  height: 400px;
}
@media only screen and (min-width: 592px) {
  .google-maps .gmap_canvas_iframe {
    max-width: 720px;
  }
}
@media only screen and (min-width: 1200px) {
  .google-maps .gmap_canvas_iframe {
    max-width: 960px;
    height: 600px;
  }
}

:root {
  --va-primary-base: #06d6cf;
  --va-text-primary: #222222;
  --va-text-secondary: #ffffff;
  --va-text-lightgray: #666666;
  --va-link-primary: #008888;
}

::-moz-selection {
  color: white;
  background-color: #03736f;
}

::selection {
  color: white;
  background-color: #03736f;
}

p:not(:last-of-type) {
  margin-bottom: 8px;
}

.wp-block-columns {
  margin-bottom: 8px !important;
}
.wp-block-columns .wp-block-column:not(:last-of-type) {
  margin-bottom: 8px;
}

a {
  color: var(--va-link-primary);
}
