{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }} theme-default" data-template="base.twig">

{% block header %}
    {% include 'partial/header.twig' %}
{% endblock %}


<main id="content" role="main" class="content-wrapper">
    {% block content %}
        Sorry, no content
    {% endblock %}
</main>

{% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>
