<footer id="footer" class="footer">
    <div class="_wrapper">
        <div class="footer-site-logo">
            {% include "partial/site-logo.twig" %}
        </div>

        <div class="footer-openingtimes-container">
            <h3 class="__title">Openingstijden</h3>
            {% for day in openingtimes %}
                <div class="openingtime-day-time">
                    <div class="__day">{{ day.day }}: </div>
                    <div class="__time">{{ day.time }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="footer-menu">
            {% include "menu.twig" with {'items': menu.get_items} %}
        </div>
    </div>
    <div class="footer-copyright-container">
        <div class="copyright">
            <div class="_wrapper">© 2022-{{"now"|date('Y')}} Voetzorgantoinette.nl</div>
            <p class="webdev">Realisatie Jordi Holleman Development</p>
        </div>
        <div class="socials">
                <span class="_facebook -icon">
                    <a href="https://www.facebook.com/Voetzorg-Antoinette-106820237533800/" target="_blank">
                        <i class="fa-brands fa-facebook-square"></i>
                    </a>
                </span>
            <span class="_email -icon">
                <a href="mailto:info@voetzorgantoinette.nl?subject=Mail via contactpagina">
                    <i class="fa-solid fa-square-envelope"></i>
                </a>

                </span>
        </div>
    </div>
</footer>