{% extends "base.twig" %}

{% block content %}
    <div class="home">
        <section class="hero">
            <div class="welcome">
                <h2>
                    Welkom bij <span class="site-name">{{ site.name }}</span>
                </h2>
            </div>
            <div class="btn afspraak-btn">
                Maak een afspraak
            </div>
        </section>
    </div>
{% endblock %}
