{% if menu %}
	{% if has_children %}
        <ul class="sub-menu">
    {% else %}
        <ul class="top-level-menu">
    {% endif %}

    {% for item in items %}
        <li class="{{ item.classes | join(' ') }}">
            {% if item.children %}
                <span class="menu-item-link">{{ item.title }}</span>
                {% include "menu.twig" with {'items': item.children, 'has_children': true} %}
            {% else %}
                <a target="{{ item.target }}" href="{{ item.link }}" class="menu-item-link">
                    {{ item.title }}
                </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
