{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{ post.post_type }} page-content" id="post-{{ post.ID }}">
            <section class="article-content">
                {% if post.thumbnail %}
                    <div class="article-image">
                        <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="__img">
                    </div>
                {% endif %}
                <h1 class="article-title">{{ post.title }}</h1>
                <div class="article-body">
                    {{ post.content }}
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}
